  <div class="banner" style="background-image: url(images/rebelwithoutacause.jpg);">
    <div class="container">
      <h1>Watch List</h1>
    </div>
  </div>

<div class="container mt-5">
  <h1>My Lists</h1>
  <ol>
    <% @lists.each do |list| %>
    <li>
        <%= list.name %>
         <%= link_to 'Details', list_path(list.id) %>
   </li>
    <% end %>
 </ol>

  <%= link_to 'Home', root_path %>
</div>
