 <div class = "banner">
  <h1>Your Lists</h1>
  <%= image_tag "rebelwithoutacause.jpg", alt: "Cinema", class: "bg-image" %>
</div>

 <div class="container mt-5">
  <ol>
    <% @lists.each do |list| %>
    <li>
        <%= list.name %>
         <%= link_to 'Details', list_path(list.id) %>
   </li>
    <% end %>
 </ol>

  <%= link_to 'Home', root_path %>
</div>
