<div class = "banner">
  <%= image_tag 'cinema.jpg', alt: "Cinema", class: "background-image" %>
   <div class="card-img-overlay">
    <h1>My Lists</h1>
  </div>
</div>



<div class="container mt-5">
    <h1>My Lists</h1>
  <ol>
    <% @lists.each do |list| %>
    <li>
        <%= list.name %>
        <%= link_to 'Details', list_path(list.id) %>
   </li>
    <% end %>
 </ol>
</div>
