// Import page-specific CSS files here.
@import "home";

.card-img-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.container {
  width: 900px;
  margin: auto;
  }

.text-center {
  text-align: center;
  }
h1, h2, h3, h4 {
  font-family: Poppins;
  }

.footer {
  text-align: center;
  padding: 60px;
  background-color: white;
  }

.footer a {
  font-size: 30px;
  color: #1EDD88;
  }

a {
  text-decoration: none;
  color: grey;
}

.nav_link {
  text-decoration: none;
  color: grey;
}

.category-cards {
  overflow: hidden;
  background: white;
  box-shadow: 5px 10px #888888;
}

// --------------------------------




// ---------------------------------------

.main-container {
  margin-top: 300x;
  display: flex;
}


// -----------------------------

.list-cards {
  display: grid;
  flex-grow: 1;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  margin: 10px;
}

.list-card {
  position: relative;
  opacity: 0.7;
  background-size: cover;
  background-position: center;
  height: 150px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 22px;
  color: white;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);

  &:hover {
    transition: 0.1s ease;
    opacity: 1;
  }
}

// MEDIA QUERIES
@media(max-width: 992px) {
  .list-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .list-cards {
    grid-template-columns: 1fr;
  }

  .category-cards {
    justify-content: center;
  }
}


//--------------------------
