.banner {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  color: white;
  }

.banner h1 {
  color: white;
  font-size: 5em;
  margin-top: 60px;
  margin-bottom: 0.5em;
}

.banner-buttons {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
}


.banner {
  position: relative;
  .background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .card-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 4rem;
    font-weight: bold;
    z-index: 1;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
      z-index: -1;
    }
  }
}
