.navbar {
  justify-content: space-between;
  background-color: black;
}

.navbar-toggler {
  border-color: white;
}

.navbar-toggler-icon {
  background-color: white;
}

.navbar-nav .nav-link {
  color: white;
}

.navbar-brand {
  color: white;
}
