.navbar {
  justify-content: space-between;
  background-color: black;
}

.navbar-toggler {
  border-color: white;
}

.navbar-toggler-icon {
  background-color: white;
}

.navbar-nav {
  margin-left: 50px;
}
.navbar-nav .nav-link {
  color: white;
  font-size: small;
  font-family: 'Montserrat', sans-serif;
}

.navbar-brand {
  color: white;
}

.bi {
  font-size: 2rem;
  margin-left: 40px;
}
